[submodule "2-reduce-attack-surface/typescript-docker-multi-stage-build"]
	path = 2-reduce-attack-surface/typescript-docker-multi-stage-build
	url = https://github.com/kevinpollet/typescript-docker-multi-stage-build.git
